---
import IconMenu from "@/components/icons/Menu.astro";
import IconClose from "@/components/icons/Close.astro";

const navLinks = [
  { name: "Inicio", label: "inicio", url: "/#inicio" },
  { name: "Menú", label: "menu", url: "/#menu" },
  { name: "Eventos", label: "eventos", url: "/#eventos" },
  { name: "Sobre Nosotros", label: "sobre-nosotros", url: "/#sobre-nosotros" },
  { name: "Testimonios", label: "testimonios", url: "/#testimonios" },
];
---

<header class="w-full fixed z-50 border border-gray-200 shadow-sm bg-white">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between md:h-20">
      <div class="md:flex md:items-center md:gap-12">
        <a href="/" class="block">
          <h1 class="font-bold text-center uppercase md:text-xl lg:text-2xl">
            Delicias Eliut
          </h1>
        </a>
      </div>

      <div
        class="absolute z-50 w-full min-h-screen h-dvh bg-gray-50 top-0 right-0 px-10 pt-10 hidden"
        id="menuMobile"
      >
        <button
          class="absolute top-4 right-5 rounded bg-gray-100 p-1 text-gray-600 transition hover:text-gray-600/75"
          id="btnClose"
        >
          <span class="sr-only">Cerrar</span>
          <IconClose />
        </button>
        <nav>
          <ul class="flex flex-col gap-4">
            {
              navLinks.map((link) => {
                return (
                  <li>
                    <a
                      class="font-medium text-gray-900 transition hover:text-gray-900/75"
                      aria-label={link?.label}
                      href={link?.url}
                    >
                      {link?.name}
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </nav>
      </div>

      <div class="hidden md:block">
        <nav>
          <ul class="flex items-center gap-6 lg:gap-10">
            {
              navLinks.map((link) => {
                return (
                  <li>
                    <a
                      class="font-medium text-sm uppercase text-gray-900 transition hover:text-gray-900/75"
                      aria-label={link?.label}
                      href={link?.url}
                    >
                      {link?.name}
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </nav>
      </div>

      <div class="flex items-center gap-4">
        <div class="sm:flex sm:gap-4">
          <a
            class="inline-block rounded bg-emerald-600 px-4 py-2 text-sm font-medium text-white transition hover:scale-110 hover:shadow-xl focus:outline-none focus:ring active:bg-emerald-500 md:px-6"
            href="/contacto">Contacto</a
          >
        </div>

        <div class="block md:hidden">
          <button
            class="rounded bg-white p-2 text-black transition hover:text-black/75"
            id="btnOpen"
          >
            <span class="sr-only">Cerrar</span>
            <IconMenu />
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  document.addEventListener("astro:page-load", (e) => {
    const menu = document.querySelector("#menuMobile");
    const btnOpen = document.querySelector("#btnOpen");
    const btnClose = document.querySelector("#btnClose");
    const sections = document.querySelectorAll(".section");
    const navItems = document.querySelectorAll("header nav ul li a");

    const toggleMenu = () => menu?.classList.toggle("hidden");

    btnOpen?.addEventListener("click", toggleMenu);
    btnClose?.addEventListener("click", toggleMenu);

    navItems.forEach((item) => {
      item.addEventListener("click", () => {
        menu?.classList.add("hidden");
      });
    });

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add(
                "!text-emerald-600",
                "!hover:text-emerald-500/75",
                "!font-bold"
              );
            } else {
              item.classList.remove(
                "!text-emerald-600",
                "!hover:text-emerald-500/75",
                "!font-bold"
              );
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.4,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => {
          observer.observe(section);
        });
      }
    };
  });
</script>
